<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet"
		  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <title>OpenAI Api Demo App {% block headtitle %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

{% block content %}
{% endblock %}


<footer class="footer">
	<p>This application is powered by
		<a href="http://flask.pocoo.org/docs/">Flask</a> and
		<a href="http://getbootstrap.com/">Bootstrap</a>
	</p>
	<p>&copy; Blanca & Javiera </p>
</footer>


</html>